h1.title Pure css circular progress

.comments 
  | Based on the pen of
  a(class='comments__link' href="https://codepen.io/l4ci/" target='_blank') Volker Otto
  | -
  a(class='comments__link' href="https://codepen.io/l4ci/pen/HFujm" target='_blank') Round Avatar With round progress bar.
  
.circular-progress

a(class='twitter' href='https://twitter.com/JorgeBarron28' target='_blank') @JorgeBarron28