

.navbar-form input{
	border-right: 0px !important; 
	border-top-left-radius: 6px !important; 
	border-bottom-left-radius: 6px !important; 
	height: 32px !important;
}
.navbar-form .input-group button{
	border-left: 0px; 
	border-top-right-radius: 6px; 
	border-bottom-right-radius: 6px; 
	height: 32px;
}

.navbar-brand img{
	display: none;
	width: 32px;
}
 
    .botton-border-left-off{
        border-left: 0px;
    }

   .box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .box-shad{
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
   }

   .img-weight{

   }
   .loader{
      background: rgba(255,255,255,0);
      border: 0px;
   }

   #home{
    background-image: url("../img/gallery.jpg");
   }

  .img{
    width: 42%;
    text-align: center;
    margin: 2%;
  }

.img img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

@media only screen and (min-width: 768px){
   .navbar-brand img{
	display: inline-block;
 }
}

@media only screen and (min-width: 992px){   
.navbar-brand img{
	display: inline-block;
}

.img{
    width: 120px;
    margin: 5px;
  }
}

@media only screen and (min-width: 1200px){
    .navbar-form input{    	
    }
}

